$gray: #C2C2C2;
$darkGray: #909090;
$fgColor: #202020;
$borderWidth: 1px;
$radius: 5px;

body {
    .btn {
        background-color: $gray;
        color: $fgColor;
        border: $borderWidth solid $darkGray;
        border-radius: $radius;
    }
}
